<div style="display:flex;flex-direction:row;align-items:center;align-content:center;justify-content:space-between">
  <h1 id="tableLabel">Products</h1>
  <div style="display:flex;flex-direction:row;align-items:flex-end;align-content:flex-end;justify-content:flex-end">
    <button (click)="addProduct()" class="btn">Add</button>
  </div>
</div>

<p *ngIf="!products"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="products">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Cost</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>
        <button (click)="editProduct(product)" class="btn">Edit</button>
        <button (click)="deleteProduct(product)" class="btn" style="margin-left: 10px;">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
