<br/>
<div class="toolbar">
  <h3><span style="color: red;">Product:</span> {{productName}}</h3>
  <div class="toolbarbuttons">
    <button (click)="addProduct()" class="btn">Add</button>
    <button [routerLink]="['/groupedproducts']" class="btn" style="margin-left: 5px;">Cancel</button>
  </div>
</div>

<p *ngIf="!products"><em>Loading...</em></p>

<table class='table' *ngIf="products">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Cost</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>
        <button (click)="editProduct(product)" class="btn">Edit</button>
        <button (click)="deleteProduct(product)" class="btn" style="margin-left: 10px;">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
